<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
<main>
    <h1>Home page</h1>
    <hr>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint magnam praesentium vitae, a facere quod ea! Fugiat, rerum mollitia. 
        Quis quam nam voluptas illum dolores commodi architecto illo, cupiditate repudiandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aut sapiente, adipisci nemo delectus error porro fuga voluptatum veniam nam vero cupiditate perspiciatis molestiae non reiciendis omnis molestias numquam ullam libero. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit dolorem iusto maiores perspiciatis numquam tenetur neque dignissimos praesentium dolore libero laborum, eligendi sequi cupiditate distinctio facilis harum. Eveniet, veritatis iusto!
    </p>
</main>
    
</body>
</html>